
@font-face { 
  font-family: 'pixelfont';
  src: myFirstFont; src: url("slkscr.ttf");
  font-weight: 400;
  font-style: normal;
  }

.text {
  -webkit-transform: scale(0.1, 0.1);
          transform: scale(0.1, 0.1);
  transition: all 600ms;
}
.pg-active .text {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.responsive-img {
  width: 100%;
  height: auto;
}

.text2 {
  -webkit-transform: scale(1, 0);
          transform: scale(0, 1);
  transition: all 100ms;
}
.pg-active .text2 {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}


span {
  font-family: 'pixelfont';
  font-size: 1rem;
  }

@keyframes animateImg{
  0%, 100% {
  border-radius: 69% 31% 30% 67% / 72% 47% 40% 26%;
  }
  34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

@keyframes animateBlob {
  0% {
      border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }
    100% {
      border-radius: 40% 60%;
    }
}

#custom-frame {
  position: fixed;
  /* bottom: 50%; */
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  /* border: 3px solid #73AD21; */
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container {
  position: absolute;
  /* padding-bottom: 35%; */
  top: -12%;
  max-width: 600px;
}
.container-text {
  display: inline-block;
  /* position: relative; */
  /* padding-bottom: 35%; */
  /* top: 70%; */
  margin-top: calc(var(--vh, 1vh) * 90);
  /* margin-left: ; */
}

@media (max-width: 768px) {
  /* Adjust styles for mobile */
  .container-text {
    margin-top: calc(var(--vh, 1vh) * 70);
    max-width: 600px;
    text-align: center;
  }
}

.main-text {
  font-size: 4rem;
  position: fixed;
  top: 0%;
  left: 2%;
  /* transform: translate(-50%, -50%); */
  color: blanchedalmond;
  text-shadow: 1px 1px 2px black;
  font-family: 'Elegant Handwriting', sans-serif;
  z-index: 100;
}

.custom-textbox1 {
  position: fixed;
  top: -0%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  /* box-shadow: 1px 1px 200px black; */
  height: 15% !important;
  height: auto;
  z-index: 99;
}
